/* General Styling */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

* {
  box-sizing: border-box;
  transition: .3s linear;
}

img {width: 100%;height: 100%;}

a{color: var(--text-color);}
a:hover{color: var(--pink); -webkit-transition: color 0.1s;}
a::after{color: var(--text-color);}

:root {
  --background-color: #fff;
  --text-color: #1a1e1e;
  --top-gradient: linear-gradient(180deg, #E2F9FF 0%, rgba(226, 249, 255, 0) 100%);
  --bottom-gradient: linear-gradient(180deg, #fff 0%, #E2F9FF 100%);
  --skyblue-light: #E2F9FF;
  --pink: #F584C8;
  --light-pink: #FFDEF2;
  --white: #fff;
}

/*FONT*/
h1{font-size: 1.6em;line-height:160%;font-weight: 500;margin:0;padding:0;}
h2{font-size: 1.4em;line-height:160%;font-weight: 300;margin:0;padding:0;}
p{font-size: 1.2em;line-height:160%;font-weight:300;margin:0;padding:0;}


/* DIVS DIVS DIVS */

section {
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  margin: 0 auto;
}

.grid-four, .grid-two, .grid-index {display: grid; gap: 16px;}

@media (max-width: 600px) {
  .grid-four{grid-template-columns: 1fr;}
  .grid-two{ grid-template-columns: 1fr;}
  .grid-index{grid-template-columns: 1fr;}
  .image-text{margin: 0;}
}

/* 2-columns on medium screens */
@media (min-width: 601px) and (max-width: 1024px) {
  .grid-index{grid-template-columns: 300px 1fr;}
  .grid-four {grid-template-columns: 1fr 1fr;}
  .grid-two{ grid-template-columns: 1fr;}
}

/* 4-columns on large screens */
@media (min-width: 1025px) {
  .grid-index{grid-template-columns: 300px 1fr;}
  .grid-four {grid-template-columns: 1fr 1fr 1fr 1fr;}
  .grid-two{ grid-template-columns: 1fr 1fr;}
}

.grid-box{width:100%;}


footer{
  background: var(--bottom-gradient);
  bottom:0;
  width:100%;
  margin-top: auto;
}